body {
	font-family: Arial;
	margin-top: 20%;
	font-size: 14px;
}
table {
	margin: 0 auto;
	text-align: rigth;
}
thead {
	font-weight: bold;
	background-color: gray;
	color: white;
	border: 5px solid white;
}

tbody {
	background-color: #DCDCDC;
	color: black;
	border: 5px solid white;
}

td {
	padding: 5px;
}
