<!DOCTYPE html>

<html>

	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div id="menu">
			<ul>
				<li>
					<a href="characters.html">|Characters|</a>
				</li>
				<li>
					<a href="dungeons.html">|Dungeons|</a>
				</li>
			</ul>
		</div>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Class</td>
					<td>Strength</td>
					<td>Skill</td>
					<td>Resistence</td>
					<td>Armor</td>
					<td>Fire Power</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Prometheus</td>
					<td>warrior</td>
					<td>3</td>
					<td>1</td>
					<td>1</td>
					<td>2</td>
					<td>0</td>
				</tr>
				<tr class="alt">
					<td>Dumbledore</td>
					<td>Mage</td>
					<td>0</td>
					<td>3</td>
					<td>2</td>
					<td>0</td>
					<td>2</td>
				</tr>
				<tr>
					<td>hawk archer</td>
					<td>Ranger</td>
					<td>0</td>
					<td>3</td>
					<td>2</td>
					<td>0</td>
					<td>2</td>
				</tr>
				<tr class="alt">
					<td>Frodo</td>
					<td>Thief</td>
					<td>0</td>
					<td>4</td>
					<td>2</td>
					<td>0</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Stride</td>
					<td>knight</td>
					<td>3</td>
					<td>0</td>
					<td>1</td>
					<td>3</td>
					<td>0</td>
				</tr>
				<tr class="alt">
					<td>Jorge</td>
					<td>knight</td>
					<td>3</td>
					<td>0</td>
					<td>1</td>
					<td>3</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Nefus</td>
					<td>Monk</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>0</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
